.navigation__wrapper {
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 60px;
}

.navigation {
  margin-bottom: -2px;
  &__search {
    input {
      border-radius: 10em;
    }
    button {
      border-radius: 10em;
      position: absolute;
      right: 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .navigation {
    flex-direction: row-reverse;
    justify-content: flex-end;
    &__content {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
