@include media-breakpoint-up(xl) {
  .navigation {
    flex-direction: row-reverse;
    justify-content: flex-end;
    &__content {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
