.navigation__wrapper {
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 60px;
}

.navigation {
  margin-bottom: -2px;
  &__search {
    input {
      border-radius: 10em;
    }
    button {
      border-radius: 10em;
      position: absolute;
      right: 0;
    }
  }
  &__choice-sex {
    label {
      font-size: 13px;
      font-weight: bold;
      box-shadow: unset!important;
    }
    input:checked + label {
      border-bottom: 2px solid $gray-background;
    }
  }
}

@include media-breakpoint-up(xl) {
  .navigation {
    height: 5.45em;
    flex-direction: row-reverse;
    justify-content: flex-end;

    a,
    .navbar-nav,
    .nav-item,
    label {
      height: 100%;
    }

    a {
      display: flex;
      align-items: center;
    }

    &__content {
      height: 100%;
      flex-direction: row-reverse;
      justify-content: flex-end;
      flex: 1;
    }

    &__links {
      flex: 1;
      justify-content: space-evenly;
    }

    &__choice-sex {
      label {
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        align-items: center;
      }
    }

    &__categories {
      a {
        padding-left: 1.8em;
        padding-right: 1.8em;
      }
    }

    &__logotype {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }

    &__search {
      width: 17.5%;
      margin-left: 5em;
    }
  }
}
