// USER VARIABLES SECTION //

$accent: #7caa43;
$light-background: #f2f2f2;
$dark-background: #1f1f1f;
$light-text-color: #fff;
$darker-text-color: #757575;
$dark-text-color: #000;
$background-light-hover: #f5f6f8;
$background-dark-hover: #2d2d2d;


// IMPORT SECTION

// BOOTSTRAP

// Необходимые
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Включите здесь переопределения пользовательских переменных по умолчанию
@import "_bootstrap-overriding";

// Необязательные
@import "node_modules/bootstrap/scss/reboot";

// MODULES

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}


// @include font('Raleway', normal, 100, '../fonts/Raleway-Thin.woff2');